<form action="">
    <label for="title">Título</label>
    <input type="text" id="title" name="title">

    <label for="content">Conteúdo</label>
    <input type="text" id="content" name="content">

    <button type="submit">Cadastrar Post</button>
</form>