<section class="container">

    {{#if post}}
        <h1>Alteração de Posts</h1>
        <form action="/alterar-post/{{post.id}}" method="POST">
            <div class="form-group col-6">
                <label for="title">Título</label>
                <input type="text" id="title" name="title" class="form-control" value="{{post.title}}">
            </div>

            <div class="form-group col-6">
                <label for="content">Conteúdo</label>
                <input type="text" id="content" name="content" class="form-control" value="{{post.content}}">
            </div>

            <div class="form-group col-6">             
                <button type="submit" class="btn btn-primary">Alterar Post</button>
            </div>
        </form>
    {{else}}
        <h1>Cadastro de Posts</h1>
        <form action="/salvar-cadastro" method="POST">
            <div class="form-group col-6">
                <label for="title">Título</label>
                <input type="text" id="title" name="title" class="form-control">
            </div>

            <div class="form-group col-6">
                <label for="content">Conteúdo</label>
                <input type="text" id="content" name="content" class="form-control">
            </div>

            <div class="form-group col-6">
                
                <button type="submit" class="btn btn-primary">Cadastrar Post</button>
            </div>
        </form>
    {{/if}}
    
</section>