<section class="container">
    <div class="row">
        <form action="/salvar-cadastro" method="POST">
            <label for="title">Título</label>
            <input type="text" id="title" name="title">

            <label for="content">Conteúdo</label>
            <input type="text" id="content" name="content">

            <button type="submit">Cadastrar Post</button>
        </form>
    </div>
</section>