<section class="container">

        <h1>Lista de Posts</h1>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Título</th>
                    <th scope="col">Conteúdo</th>
                </tr>
            </thead>
            <tbody>
                {{#each posts}}
                    <tr>
                        <td>{{title}}</td>
                        <td>{{content}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

</section>