<section class="container">

        <h1>Lista de Posts</h1>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Título</th>
                    <th scope="col">Conteúdo</th>
                    <th scope="col" colspan="2">Ações</th>
                </tr>
            </thead>
            <tbody>
                {{#each posts}}
                    <tr>
                        <td>{{title}}</td>
                        <td>{{content}}</td>
                        <td><a href="/deletar/{{id}}"><button class="btn btn-danger">Apagar</button></a></td>    
                        <td><a href="/alterar-post/{{id}}"><button class="btn btn-info">Alterar</button></a></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

</section>